<!-- <div class="container page__container d-flex flex-column flex-md-row align-items-center text-center text-sm-left">
  <div class="flex d-flex flex-column flex-sm-row align-items-center mb-24pt mb-md-0">
      <div class="mb-24pt mb-sm-0 mr-sm-24pt">
          <h2 class="mb-0"> All doctor </h2>
          <ol class="breadcrumb p-0 m-0">
              <li class="breadcrumb-item"><a routerLink="/home">Home</a></li>
              <li class="breadcrumb-item"><a routerLink="/trainings"> Training </a></li>
              <li class="breadcrumb-item active"> doctor </li>
          </ol>
      </div>
  </div>
</div> -->


<div class="container page__container">
  <div class="page-section">
      <div class="page-separator">
          <div class="page-separator__text">All doctor</div>
      </div>
      <div class="card mb-lg-32pt">
          <div class="" data-toggle="lists">
              <div class="">
                  <table class="table mb-0 table thead-border-top-0 table-nowrap" datatable
                       id="datatable">
                      <thead>
                          <tr>
                              <th>Doctor Name</th>
                              <th>Speciality</th>
                              <th> From </th>
                              <th> To </th>
                              <th> Fees </th>
                              <th class="text-center" > Action </th>
                          </tr>
                      </thead>
                      <tbody class="list">
                          <tr *ngFor="let doctor of doctors; let i = index">
                              <td><strong>{{doctor?.name| titlecase}}</strong> </td>
                              <td> {{doctor?.speciality | titlecase }}</td>
                              <td> <strong>{{doctor?.inTime }}</strong> </td>
                              <td><strong>{{doctor?.outTime }}</strong></td>
                              <td>
                                ₹ {{doctor.cost}}
                              </td>

                              <td class="text-center">
                                  <button type="button" routerLink="bookAppointment" class="btn btn-outline-primary"> BOOK APPOINTMENT</button>
                              </td>
                          </tr>
                      </tbody>
                  </table>
              </div>
          </div>
      </div>
  </div>
</div>


